body{
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  position: fixed;
  top: 0;
  transition: 0.4s;
  padding: 10px;
  background-color: #212121;
}

#mainNav .navbar-brand, 
#mainNav .navbar-brand.active, 
#mainNav .navbar-brand:active, 
#mainNav .navbar-brand:focus, 
#mainNav .navbar-brand:hover, 
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color:  #03A9F4;
  
}

.fas.fa-bars{
  font-size: 12px;
}

.container .navbar-toggler{
  height: 36px;
  height: 36px;
  width: 81px;
  font-size: 14px;
  color: white;
  background-color:  #03A9F4;
}

.navbar-brand{
  font-size: 30px;
  text-transform: uppercase;
  transition: 0.4s;
  font-family: 'Kaushan Script', cursive;
}

.navbar-nav .nav-item .nav-link{
  color: white;
  text-transform: uppercase;
  transition: 0.4s;
  font-family: 'Montserrat', sans-serif;
}
.top-wallpaper
{
  background-image: url('images/1.jpg');
  background-position: center;
  background-size: cover;

  width:100%;
  height:100vh;
  margin: 0;
  padding:0;
 
}

header.top-wallpaper #particles-js{
  height:100vh;
}

.main-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  color: white;
  height:100vh;
  text-transform: uppercase;
}

.intro {
  font-family: 'Playfair Display SC', serif;
  display: flex;
  height: 38vh;
  align-items: flex-end;
}
.intro-del{
  font-family: 'Playfair Display SC', serif;
  display: flex;
  justify-content: center;
}
.intro-para{
  font-family: 'Amatic SC', cursive;
  
}

div#particles-js canvas.particles-js-canvas-el{
  position: absolute;
  top: 0;
}

.skills-section{
  width: 100%;
  height: 533px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  margin: 0 !important;
}

.my-skills, .my-project{
  height: 182px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0 !important;
}


.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  height: 152px;
}

.grid-container div.card.skill-box{
  display: flex;
  justify-content: center;
  width: 200px ;
  height: 250px;

}
/* #b11d1d */
.skills{
  background-color:  #9e9e9e3b; 
  width: 100%;
  height: 152px;
  
}

#Top_bar {
  position: absolute;
  left: 0;
  top: 61px;
  width: 100%;
  z-index: 30;
}

#Top_bar.is-sticky {
  position: fixed!important;
  width: 100%;
  left: 0;
  top: -60px;
  height: 60px;
  z-index: 701;
  background: #fff;
  opacity: .97;
  filter: alpha(opacity = 97);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);

}

.skills-container{
  width:65%;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
  /* height:00vh; */
  z-index: 1;
}

#skills-img1{
  background-image: url('images/HTML_Logo.png');
}
#skills-img2{
  background-image: url('images/7.png');
}
#skills-img3{
  background-image: url('images/347px-Badge_js-strict.svg.png');
}

.skills-img{
  background-position: center;
  background-size: cover;
  width:100%;
  height: 200px;
}
 
/* porfolio div */

.portfolio-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.project-section{
  height: 100%;
}

.project-section > .grid-container{
  height: 100%;
  grid-template-columns: auto auto auto;
  grid-gap: 30px
}

.project-img{
  
  background-position: center;
  background-size: cover;
  width:100%;
  height:400px;
  transition: 0.3s;
}

.project-del > a > .fa-github{
  font-size: 20px;
  width:30px;
}

.project-del > a {
  padding: 3px 0;
  text-decoration: none;
}

.project-del > h5 > a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.project-del > h5{
  width: 100%;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}



#project-img1{
  background-image: url('images/images-2/weather.png');
}

#project-img2{
  background-image: url('images/images-2/news-app.png');
}

#project-img3{
  background-image: url('images/images-2/web-whatsapp.png');
}

#project-img4{
  background-image: url('images/images-2/mobile-gallery.png');
}

#project-img5{
  background-image: url('images/images-2/wed-planning.png');
}

#project-img6{
  background-image: url('images/images-2/making-life-matter.png');
}

.project{
  width: 319px;
  height:500px;
  padding:0;
}

.project-del{
  width: 100%;
  height: 100px;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* About */

.timeline {
  width: 80%;
  position: relative;
  height: 100%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #212121;
    top: 0;
    bottom: 10px;
    left: 15px;
    margin-left: -3px;
}

.about-container{
  margin: 30px 0 0;
  background-color: whitesmoke;
  padding-bottom: 20px
}

.about-content
{
  width: 100%;
  height:75px;
  display: flex;
  justify-content: flex-start;
  
}

.circle-div{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: start;
 
}

.circle{
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 1000px;
  background-color: #03A9F4;
  z-index: 1;
  border: 5px solid #212121;
}

.content-del {
  padding: 0px 50px;
  border-radius: 6px;
  width: 100%;
  height: 90px;
}

.content-del > h2{
  font-size: 20px;
  width: 248px;
}

.content-del > h4{
  font-size: 16px;
}

/* contact */

.Contact-del{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
}

.fab, .far, .fa-map-marker-alt{
  border-color: #03a9f4;
  font-size: 20px;
  padding: 7px 0;
}

.Contact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31vh;
  background-color: #212121;
  width: 100%;
  color: white;
  
}

.btn-outline-info{
  border-radius: 1000px;
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.icon{
  text-align: center;
}

.icon > h5, .icon > p{
  margin: 16px 0;
}




@media screen and (max-width:1085px){
  .grid-container div.card.skill-box{
    width:169px;
    height:200px;
  }
  .skills-section .grid-container{
    grid-gap: 25px;
  }
  .skills-img{
    height:167px;
  }

  .skills-section{
    height: 469px;
  }

  .project-section > .grid-container {
    height: 100%;
  }
  .project {
    width: 238px;
    height: 378px;
    padding: 0;
  }

  .project-img {
    height: 289px;
  }
  .project-del{
    height: 88px;
  }
}


@media screen and (max-width:900px){
  .grid-container div.card.skill-box{
    width:144px ;
    height:192px;
  }
  .skills-section.grid-container{
    grid-gap: 25px;
  }
  .skills-img {
    height: 144px;
  }
}


@media screen and (max-width:865px){
  .project-section > .grid-container{
    height: 100%;
    grid-template-columns: auto auto;
  }
  .project {
    width: 306px;
    height: 473px;
  }

  .project-img {
    height: 366px;
  }
  .project-del{
    height:107px;
  }
}


@media screen and (max-width: 767px) {
  
  /* skills seaction */
  .grid-container{
    grid-template-columns: auto;
  }
  .grid-container div.card.skill-box{
    width: 246px ;
    height: 266px;
  }
  .skills-section {
    height: 206vh;
  }
  .skills-img {
    height: 217px;
    width:75%;
    margin: auto;
}

  .skills-img, .skills-img2, .skills-img3 {
    background-position: center;
    background-size: cover;
  }

  /*    ****   */


  /* Portfolio Seaction */

  .project-section > .grid-container {
        height: 100%;
  }
  .project {
    width: 218px;
    height: 339px;
  }

  .project-img {
    height: 256px;
  }

  .project-del{
    height: 83px;
  }
  .project-del > a > .fa-github{
    font-size: 18px;
  }

  .project-del > a{
    font-size: 14px;
  }

  /*  ****   */
  

  /*Contact seaction  */
  .Contact{
    height: 60vh;
  }

  .Contact-del{
    flex-direction: column;
    justify-content: center;
  }
    /*  *** */
}



@media screen and (max-width:535px){
  .intro, .intro-del{
    font-size:35px;
  }
  .project-section > .grid-container {
    grid-template-columns: auto;
  }
  .project {
    width: 312px;
    height: 460px;
  }

  .project-img {
    height: 379px;
  }
}

@media screen and (max-width:473px){
  .intro, .intro-del{
    font-size:27px;
  }
  .my-skills{
    font-size: 32px;
  }
}
 

@media screen and (max-width:450px){
  .skills-container {
    width: 100%;
  }
   
}
 